# Python関連の無視ファイル
__pycache__/
*.pyc
.venv/
venv/

# 秘密情報
# APIキーなどを記述する.envファイルは絶対に含めない
.env

# 生成されるアウトプットデータ
# プログラムが実行されるたびに変わるため管理に含めない
data/output/

# インプットデータ (任意だが推奨)
# PDFなど大きなファイルはGit管理に不向きなため無視する
data/input/auction_sheets/