@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* 背景色を常に明るいグレーに設定 */
  background-color: #f3f4f6; /* Tailwind CSSのbg-gray-100の色 */
  
  /* 文字色を読みやすいダークグレーに設定 */
  color: #1f2937; /* Tailwind CSSのtext-gray-800の色 */
}